a,
a:hover {
    text-decoration: none;
    color: #343a40;
}
.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: red;
}
#btn-show-tables {
    padding: 2% 30%;
}
.badge-success {
    background: darkgreen;
}
.nav-link {
    color: #343a40;
}
